
body{
    width: 100%;
    font-size: 1.2em;
    background-color: rgba(253, 253, 150, 0.8);
    margin: 0;
}

#container{
    display: flex;
    height: 400px;
}

#container img{
    max-width: 50%;
    transition: max-width 0.5s;
}

#container img, #ingredients{
    flex: 1, 0, 100%;
}

#directions{
    flex-grow: 2, 1, 100%;
    background-color: rgba(253, 253, 150, 0.8);
    padding: 5px;
}

ul{
    background-color: rgba(215, 211, 138, 0.78);
    position: absolute;
    top: 13%;
    left: 52%;
    height: 370px;
    align-content: center;
    margin-right: 10px;
}

.first-letter{
    color: rgb(161, 19, 25);
}

h2{
    text-align: center;
    color: rgba(78, 63, 10, 1);
}

h3{
    color: rgba(78, 63, 10, 1);
}

@media only screen and (max-width: 600px){
    #container{
        flex-wrap: wrap;
       
    }

    #container img, #ingredients{
        max-width: 100%;
    }

    ul{
        top: 77%;
        left: 2%;
        height: 370px;
    }

    ol{
        margin-top: 450px;
    }
}