:root{
    --rainbow:  rgba(255, 0, 0, 1) 10%, rgba(255, 165, 0, 1), rgba(252, 252, 4, 1), rgba(17, 253, 5, 1), rgba(0, 0, 255, 1), rgba(128, 0, 128, 1);
}

/* Rainbow Scrolly -------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #777; 
    border-radius: 10px;  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--rainbow)); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.7) 10%, rgba(265, 165, 0, 0.7), rgba(252, 252, 4, 0.7), rgba(17, 253, 5, 0.7), rgba(0, 0, 255, 0.7), rgba(128, 0, 128, 0.7));
  }

/* Body ---------------------------------------------------------------------------------- */

body{
   background-color: #222;
   margin: 0;
   padding: 0;
}

p{
    color: white;
    font-size: 1.5em;
}

/* Nav Bar ------------------------------------------------------------------------------- */

nav{
    position: fixed;
    background-color: #333;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    display: inline-block;
    float: right;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
   display: inline-block;
   font-family: 'Philosopher', sans-serif;
   font-size: 1.2em;
}
  
li a {
   display: block;
   color: white;
   padding: 14px 16px;
   text-decoration: none;
}
  
li a:hover {
   background-color: #111;
}

/* HomePage ------------------------------------------------------------------------------- */

#homepage{
    display: flex;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
}

/* Rainbow bits */
#homepagebox{
    height: 250px;
    width: 50%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, var(--rainbow));
    border-radius: 0 0 125px 0;
}

/* grey on top of rainbow making border */
#homepageBoxback{
    position: absolute;
    height: 97%;
    width: 99%;
    top: 0;
    background-color: #222;
    border-radius: 0 0 125px 0;
    display: flex;
}

/* my name and "title" */
#HomeHeading{
    margin: 4vh 4vh 4vh 1vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#HomeHeading h1, h3{
    color: white;
    font-size: 2em;
    width: 100%;
    margin: 0;
}

/* my face -----*/
#circle{
    height: 110px;
    width: 110px;
    margin: 5vh 0 5vh 5vh;
    background-image: linear-gradient(to right, var(--rainbow));
    border-radius: 100px 100px 100px 100px;
}

#circle img{
    height: 100px;
    width: 100px;
    border-radius: 100px 100px 100px 100px;
    padding: 5px;
}

/* pics and links on homepage */
section{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

section h6{
    margin: 5vh 0;
    text-align: center;
}

section div{
    max-width: 250px;
    height: auto;
    text-align: center;
}

section div a{
    margin: 0;
    font-size: 4em;
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: justify;
    text-shadow: -5px -5px 5px #111, 0 0 0.5em aqua;
    color: rgba(110, 210, 250, 1);
}

section div a:hover{
    color: rgba(195, 63, 247, 0.925);
}

section div h6:hover{
    transform: scale(1.2);
    margin: 5vh 0 0 0;
}

section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#ContactLink img{
    object-fit: contain;
    background-color: white;
}

#ContactLink h6{
    font-size: 0.63em;
}

/* Homepage Decoration -------------------------------------------------------------------- */

#rainbowBall{
    height: 200px;
    width: 29.5vw;
    position: absolute;
    top: 0;
    left: 70%;
    background-image: linear-gradient( 45deg, var(--rainbow));
    border-radius: 0 0 0 125px;
    animation: sparkle 1s;
}

/* Projects -------------------------------------------------------------------------------- */

#projects{
    padding: 1px 0 0 0;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2) 10%, rgba(255, 165, 0, 0.2), rgba(252, 252, 4, 0.2), rgba(17, 253, 5, 0.2), rgba(0, 0, 255, 0.2), rgba(128, 0, 128, 0.2));
}

#projectbg{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
}

/* video blurbs */
#projectbg h4{
    margin: 0;
    border: 0;
    text-align: center;
    padding: 10px 0 0 0;
    max-width: 85%;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
}

/* click video line */
#projectbg p{
    font-size: 1.3em;
    margin-bottom: 30px;
    padding: 0 0 30px 0;
    color: rgb(170, 231, 241);
    width: 100%;
    text-align: center;
}

/* video headings */
#projectbg h3{
    font-family: 'Philosopher', sans-serif;
    border: 0;
    margin-top: 5vh;
    width: 100%;
    padding: 10px 0 5px 0;
    text-align: center;
    color: rgba(110, 210, 250, 1);
    text-shadow: -5px -5px 5px #111, 0 0 0.5em aqua;
}

/* section heading */
#projects h1{
    color: white;
    position: absolute;
}

#PacmanSection, #MazeSection, #bobPageSection, #farmersSection {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    justify-content: space-around;
}

#TictactoeSection, #ExercismSection, #CongratsSection, #AstroBoySection, #cuteTacoSection, #bobRossSection {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
    justify-content: space-around;
}

video {
    margin: 0 auto;
    max-width: 400px;
    max-height: 300px;
    padding: 20px;
    -webkit-transform: translateZ(0); /*put videos behind nav */
}

#projectbg img {
    max-height: 300px;
    max-width: 400px;
    padding: 20px;
}

#caption h4 {
    max-width: 100%;
}

#pacman:hover {
    box-shadow: 0px 0px 30px 10px red;
}

#maze:hover {
    box-shadow: 0px 0px 30px 10px orange;
} 

#congrats:hover {
    box-shadow: 0px 0px 30px 10px yellow;
}

#tictactoe:hover {
    box-shadow: 0px 0px 30px 10px rgba(17, 253, 5, 1);
}

#exercism:hover {
    box-shadow: 0px 0px 30px 10px blue;
}

#AstroBoy:hover {
    box-shadow: 0px 0px 30px 10px rgb(160, 1, 160);
}

#cuteTaco:hover {
    box-shadow: 0px 0px 30px 10px red;
}

#bobPage:hover {
    box-shadow: 0px 0px 30px 10px orange;
}

#farmers:hover {
    box-shadow: 0px 0px 30px 10px yellow;
}

/* About ---------------------------------------------------------------------------------- */

#about{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#aboutText{
    width:50vw;
    margin: 7vh 3vh;
}

#aboutText p{
    padding: 20px;
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    text-align: justify;
}

#workStudy h3{
    color: rgba(110, 210, 250, 1);
    text-shadow: -5px -5px 5px #111, 0 0 0.5em aqua;
    margin-top: 3vh; 
}

#workStudy{
    width: 90vw;
    margin: 0 3vh 7vh 5vh;
}

#workStudy p{
    padding: 5px 10px;
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    text-align: justify;
}

#workStudy span a{
    color: rgba(78, 118, 228, 1);
}

#workStudy span a:hover{
    color: rgba(132, 62, 245, 0.7);
}

#about #aboutImages{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 5vh 5vh 0 1vh;
    width: 35%;
    position: relative;
}

#aboutImages div img{
    width: 25%;
    max-height: 100px;
    object-fit: cover;
}

/* colour blend on pics */
#aboutImages:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, transparent 0%, #222 100%);
}

.row{
    display: flex;
    flex-wrap: nowrap;
}

/* TechStack/Skills ------------------------------------------------------------------------ */

#techStack{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2) 10%, rgba(255, 165, 0, 0.2), rgba(252, 252, 4, 0.2), rgba(17, 253, 5, 0.2), rgba(0, 0, 255, 0.2), rgba(128, 0, 128, 0.2));
    padding: 1px 0 5vh 0;
}

#techStackPics{ 
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
    align-content: center;
}

#techStackPics div{
    width: 30vw;
    text-align: center; 
}

#techStackPics p{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    margin-top: 0;
}

#techStackPics img{
    width: auto;
    height: 100px;
    margin: 10vh 20px 0 20px;
    text-align: center;
    padding: 0;
}

/* Contact -------------------------------------------------------------------------------- */

#contact{
    padding: 1px 0 0 0;
    margin-top: 20px;
    height: 95vh;
}

#contactArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vw 0 0 5vw;
}

#contactArea div{
    display: flex;
    justify-content: flex-start;
    flex: 1 1 300px;
    margin: 30px 1vw;
}

#contactArea h2{
    align-items: center;
    margin-left: 5vw;
    color: white;
    font-size: 1.5em;
    font-family: 'Philosopher', sans-serif;
}

#contactArea h2:hover{
    transform: scale(1.2);
}

/* colours when clicked */
#twitter h2:hover, #blog h2:hover{
    background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 165, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#github h2:hover, #stackOverflow h2:hover{
    background: linear-gradient(to right, rgba(252, 252, 4, 1), rgba(17, 253, 5, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin h2:hover, #email h2:hover{
    background: linear-gradient(to right,rgba(0, 0, 255, 1), rgba(128, 0, 128, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contactArea a{
    text-decoration: none;
}

#contactArea div img{
    height: 100px;
    width: auto;
}

.contactClass{
    display: flex;
    align-items: center;
    justify-content: center;
}

#email img{
    background-color: white;
}

/* Rainbow Dividers ----------------------------------------------------------------------- */

.lineDivider{
    margin-top: 60px;
    display:flex;
    width: 100%;
    height: 100px;
    border-radius: 100px 0 0 100px;
    background-image: linear-gradient(to right, var(--rainbow));
    position: relative;
    z-index: -2;
}

.lineDivBack{
    align-items: center;
    background-color: #222;
    margin: 10px 0 10px 10px;
    width: 30%;
    height: 80%;
    border-radius: 100px 0 0 100px;
    overflow: visible;
    white-space: nowrap;
    border: 0;
}

.secondDivBack{
    width:70%;
    height: 90%;
    justify-content: flex-start;
    background-color: #222;
    z-index:-1;
    border: 0;
}

/* bottom of page */
.rainbowLine{
    background-image: linear-gradient(to right, var(--rainbow));
    height: 10px;
    width: 100%;
    margin-top: 5vh;
}

/* General -------------------------------------------------------------------------------- */

h1{
    margin: 1.5vh 0 0 5vh;
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    letter-spacing: 0.5em;
    font-size: 3em;
    font-weight: bold;
    border:0;
    text-shadow: -5px -5px 5px #111, 0 0 0.5em aqua;    
}

/* Animations ----------------------------------------------------------------------------- */

@keyframes sparkle{
    17%{
        background-image: linear-gradient( 45deg,  rgba(128, 0, 128, 1) 10%, rgba(255, 0, 0, 1), rgba(255, 165, 0, 1), rgba(252, 252, 4, 1), rgba(17, 253, 5, 1), rgba(0, 0, 255, 1));  
    }
    33%{
        background-image: linear-gradient( 45deg,  rgba(0, 0, 255, 1) 10%, rgba(128, 0, 128, 1), rgba(255, 0, 0, 1), rgba(255, 165, 0, 1), rgba(252, 252, 4, 1), rgba(17, 253, 5, 1));
    }
    50%{
        background-image: linear-gradient( 45deg, rgba(17, 253, 5, 1) 10%, rgba(0, 0, 255, 1), rgba(128, 0, 128, 1), rgba(255, 0, 0, 1), rgba(255, 165, 0, 1), rgba(252, 252, 4, 1));
    }
    67%{
        background-image: linear-gradient( 45deg, rgba(252, 252, 4, 1) 10%, rgba(17, 253, 5, 1), rgba(0, 0, 255, 1), rgba(128, 0, 128, 1), rgba(255, 0, 0, 1), rgba(255, 165, 0, 1));
    }
    83%{
        background-image: linear-gradient( 45deg, rgba(255, 165, 0, 1) 10%, rgba(252, 252, 4, 1), rgba(17, 253, 5, 1), rgba(0, 0, 255, 1), rgba(128, 0, 128, 1), rgba(255, 0, 0, 1));
    }
    100%{
        background-image: linear-gradient( 45deg, rgba(255, 0, 0, 1) 10%, rgba(255, 165, 0, 1), rgba(252, 252, 4, 1), rgba(17, 253, 5, 1), rgba(0, 0, 255, 1), rgba(128, 0, 128, 1));
    }
}

/* Responsive ----------------------------------------------------------------------------- */
/* Responsive ----------------------------------------------------------------------------- */
/* Responsive ----------------------------------------------------------------------------- */
/* Responsive ----------------------------------------------------------------------------- */
/* Responsive ----------------------------------------------------------------------------- */

/* less than PC more than iPad -------------------------------------------------------------*/

@media only screen and (max-width: 950px){

/* homepage --------------------------------------------------------------------------------*/

    #rainbowBall{
        display: none;
    }

    #homepagebox{
        height: 100%;
        width: 25%;
    }
    
    #homepageBoxBack{
        height: 99%;
        width: 97%;
        display: flex;
        flex-wrap: wrap;
    }

    #HomeHeading{
        position: absolute;
        top: 25%;
        left: 0;
    }

    #circle{
        margin: 5vh 6vw;
    }

    section{
        width: 60%;
        position: absolute;
        top: 9%;
        left: 30%;
        overflow: hidden;
    }

    #HomeHeading h1, h3{
        padding: 4vh 0 4vh 2vw;
        font-size: 1.5em;
    }

}

/* Mobile more specifically the Galaxy S5---------------------------------------------------*/
/* Mobile ----------------------------------------------------------------------------------*/
/* Mobile ----------------------------------------------------------------------------------*/
/* Mobile ----------------------------------------------------------------------------------*/
/* Mobile ----------------------------------------------------------------------------------*/

@media only screen and (max-width: 770px){

/* Homepage --------------------------------------------------------------------------------*/
    #homepagebox{
        height: 25%;
        width: 98%;
    }

    #homepageBoxBack{
        height: 99%;
        width: 97%;
        display: flex;
        flex-wrap: wrap;
    }

    #HomeHeading{
        position: absolute;
        top: 0;
        left: 25%;
    }

    #HomeHeading h1, h3{
        padding: 0;
        font-size: 1.3em;
        margin-left: 1vw;
    }

    #circle{
        margin: 4vh 2vw;
    }

    section{
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0;
    }

    section img{
        width: 150px;
        height: 150px;
    }

    section div a{
        font-size: 3em; 
    }

    section h6{
        margin: 1vh 0 4vh 0;
        text-decoration: underline;
    }

    section div h6:hover{
        transform: scale(1);
        margin: 1vh 0 0 0;
    }

/* Nav -------------------------------------------------------------------------------------*/
    li {
        font-size: 0.95em;
    }

    li a {
        padding: 14px 10px;
    }

/* projects-------------------------------------------------------------------------------- */

    #container h1{
        letter-spacing: 0.3em;
        font-size: 2.5em;
        margin: 2vh 0 0 5vh;
    }

    video {
        max-width: 300px;
    }

    #projectbg h3{
        font-size: 1.7em;
    }

    #projectbg h4{
        width: 100%;
        max-width: 70%;
        font-size: 1.4em;
    }

    #projectbg div p{
        padding:0;
    }

/* About ---------------------------------------------------------------------------------- */

    #about{
        max-width: 100%;
        justify-content: center;
    }

    #aboutText{
        width:60vw;
        margin: 0 1vw;
        max-width: 60%;
    }

    #aboutText p{
        padding: 12% 0 0 0;
        width: 100%;
        text-align: left;
    }

    #workStudy{
        width: 90%;
        margin: 0;
        margin-bottom: 5vh;
    }

    #workStudy p{
        width: 90%;
        text-align: left;
    }

    #about #aboutImages{
        margin: 10vw 0;
        width: 35vw;
    }

    #aboutImages div img{
        width: 50%;
        max-height: 85px;
    }

    .row{
        flex-wrap: wrap;
    }

/* TechStack/Skills ------------------------------------------------------------------------*/

    #techStackPics div{
        width: 50vw;
    }

    #techStackPics img{
        width: auto;
        height: 75px;
        margin: 5vh 20px 0 20px;
    }

/* Contact -------------------------------------------------------------------------------- */

    #contactArea div img{
        height: 80px;
    }

    #contactArea div{
        justify-content: center;
        width: 50vw;
        margin-top: 20px;
    }

    .contactClass{
        flex-wrap: wrap;
        max-width: 45%;
    }

    #contactArea h2{
        margin-left: 0;
        margin-bottom: 0;
        min-width: 150px;
        text-align: center;
        color: rgb(78, 118, 228);
        text-decoration: underline;
    }

    #contactArea{
        margin: 10% 0 0 0;
    }

    .rainbowLine{
        margin-top: 3vh;
    }
}