/* font-family: 'Philosopher', sans-serif;
font-family: 'Bubblegum Sans', cursive; */
:root{
    --rainbow:  rgba(255, 0, 0, 1) 10%, rgba(265, 165, 0, 1), rgba(252, 252, 4, 1), rgba(17, 253, 5, 1), rgba(0, 0, 255, 1), rgba(128, 0, 128, 1);
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #777; 
    border-radius: 10px;  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--rainbow)); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.7) 10%, rgba(265, 165, 0, 0.7), rgba(252, 252, 4, 0.7), rgba(17, 253, 5, 0.7), rgba(0, 0, 255, 0.7), rgba(128, 0, 128, 0.7));
  }

body{
   background-color: #222;
   margin: 0;
   padding: 0;
}

p{
    color: white;
    font-size: 1.5em;
}

#homepage{
    height: 450px;
}

#projects{
    /* height: 350px; */
}

#projectbg{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: auto;
    height: auto;
}

#projectbg #sidepic{
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    width: 25vw;*/
    margin: 10vh 0; 
    width: 30vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0)),url('images/outside.jpeg');
    background-blend-mode: darken;
}

#projectbg p{
    width: 50%;
}

#contact{
    /* height: 50px; */
}

#contactArea{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: auto;
    height: auto;
}

#contactPic{
    margin: 10vh 0; 
    width: 30vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0)),url('images/laptop.jpeg');
    background-blend-mode: darken;
}

#contactArea p{
    max-width: 50vw;
}

nav{
    position: fixed;
    /* overflow: hidden; */
    background-color: #333;
    width: 100%;
    top: 0;
    left: 0;
}

ul {
    display: inline-block;
    float: right;
    /* position: fixed; */
    top: 0;
    /* width: 100%; */
    list-style-type: none;
    margin: 0;
    padding: 0;

   }

li {
   display: inline-block;
   z-index: 10;
   font-family: 'Philosopher', sans-serif;
   font-size: 1.2em;
}
  
li a {
   display: block;
   color: white;
   padding: 14px 16px;
   text-decoration: none;
}
  
li a:hover {
   background-color: #111;
}

#rainbowBall{
    margin-top: 30px;
    height: 200px;
    width: 29.5vw;
    position: absolute;
    top: 0;
    left: 70%;
    background-image: linear-gradient( 45deg, var(--rainbow));
    border-radius: 0 0 0 125px;
    z-index: -1;
}

#photo{
    width: 75%;
    height: 300px;
    border-radius: 0 0 100px 0;
    /* background-image: linear-gradient(to right, red, orange, yellow, #26f91b, blue, purple); */
    background-image: linear-gradient(to right, var(--rainbow));
    position: relative;
    z-index: -2;
}

#backing{
    background-color: #222;
    width: 99%;
    height: 97%;
    border-radius: 0 0 100px 0;    
}

#backing img{
    position: absolute;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#logo{
    top:0;
    left: 0;
}

#image{
    position: relative;
    width: 35%;
    height: 90%;
    margin: 7% 45%;
    z-index: 10;
    border-radius: 100px;
}

#roroshadow{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 30px 20px #222;
}

.lineDivider{
    display:flex;
    width: 100%;
    height: 100px;
    border-radius: 100px 0 0 100px;
    background-image: linear-gradient(to right, var(--rainbow));
    position: relative;
    z-index: -2;
}

.lineDivBack{
    align-items: center;
    background-color: #222;
    margin: 10px 0 10px 10px;
    width: 30%;
    height: 80%;
    border-radius: 100px 0 0 100px;
    overflow: visible;
    white-space: nowrap;
}

.secondDivBack{
    width:70%;
    height: 90%;
    justify-content: flex-start;
    background-color: #222;
    z-index:-1;
}

#about{
    position: relative;
    height: 500px;
    width: 100%;
}

#aboutbox{
    height: 250px;
    width: 50%;
    position: absolute;
    top: 0;
    background-image: linear-gradient( to right, var(--rainbow));
    border-radius: 0 0 125px 0;
    z-index: -1;
}

#aboutBoxback{
    position: absolute;
    height: 97%;
    width: 99%;
    top: 0;
    background-color: #222;
    border-radius: 0 0 125px 0;
}

h1{
    margin: 1.5vh 0 0 5vh;
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    letter-spacing: 0.5em;
    z-index: 10;
    font-size: 3em;
    font-weight: bold;
    border:0;    
}

#circle{
    height: 110px;
    width: 110px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: linear-gradient( to right, var(--rainbow));
    border-radius: 100px 100px 100px 100px;
    /* z-index: -1; */
}

#circle img{
    height: 100px;
    width: 100px;
    border-radius: 100px 100px 100px 100px;
    padding: 5px;
}

#about p{
    text-align: center;
    padding: 300px 80px 0 80px;
}

#aboutBoxback h1, h3{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-left: 50px;
}



@media only screen and (max-width: 600px){

}