/* font-family: 'Philosopher', sans-serif;
font-family: 'Bubblegum Sans', cursive; */

body{
   background-color: #222;
   margin: 0;
   padding: 0;
}

#homepage{
    height: 450px;
}

#projects{
    /* height: 350px; */
}

#projectbg{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    max-width: 100%;
    /* max-height: 500px; */
    width: auto;
    height: auto;
}

#projectbg #hi{
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    width: 25vw;*/
    margin: 10vh 0; 
    /* height: 300px; */
    width: 30vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0)),url('images/outside.jpeg');
    background-blend-mode: darken;
}

#projectbg p{
    width: 50%;
}

#contact{
    height: 350px;
}

#nav{
    position: fixed;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   }

li {
   float: right;
   z-index: 10;
   font-family: 'Philosopher', sans-serif;
   font-size: 1.2em;
}
  
li a {
   display: block;
   color: white;
   text-align: right;
   padding: 14px 16px;
   text-decoration: none;
}
  
li a:hover {
   background-color: #111;
}

#rainbowBall{
    margin-top: 30px;
    height: 200px;
    width: 450px;
    position: absolute;
    top: 0;
    left: 70%;
    background-image: linear-gradient( 45deg, red 15%, orange, yellow, #26f91b, blue, purple);
    border-radius: 0 0 0 125px;
    z-index: -1;
}

#photo{
    width: 75%;
    height: 300px;
    border-radius: 0 0 100px 0;
    background-image: linear-gradient(to right, red, orange, yellow, #26f91b, blue, purple);
    position: relative;
    z-index: -2;
}

#backing{
    background-color: #222;
    width: 99%;
    height: 97%;
    border-radius: 0 0 100px 0;    
}

#backing img{
    position: absolute;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#image{
    position: relative;
    width: 35%;
    height: 90%;
    margin: 7% 45%;
    z-index: 10;
    border-radius: 100px;
}

#roroshadow{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 30px 20px #222;
}


/* #backing #gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0 100px 0;
    background-image:
    radial-gradient(
      circle closest-side,
      #555,
      #333
    );  
    opacity: 0.9;
} */

.lineDivider{
    display:flex;
    width: 100%;
    height: 100px;
    border-radius: 100px 0 0 100px;
    background-image: linear-gradient(to right, red, orange, yellow, #26f91b, blue, purple);
    position: relative;
    z-index: -2;
}

.lineDivBack{
    align-items: center;
    background-color: #222;
    margin: 10px 0 10px 10px;
    width: 30%;
    height: 80%;
    border-radius: 100px 0 0 100px;
    overflow: visible;
    white-space: nowrap;
}

.secondDivBack{
    width:70%;
    height: 90%;
    justify-content: flex-start;
    background-color: #222;
    z-index:-1;
}

#about{
    position: relative;
    height: 500px;
    width: 100%;
}

#aboutbox{
    height: 250px;
    width: 50%;
    position: absolute;
    top: 0;
    background-image: linear-gradient( to right, red 15%, orange, yellow, #26f91b, blue, purple);
    border-radius: 0 0 125px 0;
    z-index: -1;
}

#aboutBoxback{
    position: absolute;
    height: 97%;
    width: 99%;
    top: 0;
    background-color: #222;
    border-radius: 0 0 125px 0;
}

h1{
    margin: 1.5vh 0 0 5vh;
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    letter-spacing: 0.5em;
    z-index: 10;
    font-size: 3em;
    font-weight: bold;
    border:0;    
}

#circle{
    height: 110px;
    width: 110px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: linear-gradient( to right, red 15%, orange, yellow, #26f91b, blue, purple);
    border-radius: 100px 100px 100px 100px;
    /* z-index: -1; */
}

#circle img{
    height: 100px;
    width: 100px;
    border-radius: 100px 100px 100px 100px;
    padding: 5px;
}

#about p{
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 300px 80px 0 80px;
}

#aboutBoxback h1, h3{
    color: white;
    font-size: 2em;
    text-align: center;
    margin-left: 50px;
}



@media only screen and (max-width: 600px){

}