#earlylife-body{
    background-image: url("http://www.fond-ecran.net/fonds/mika_001.jpg");
}

#mika-face{
    align: center;
    padding: 20px;
}

#homeBody {
    background-image: url("./images/bg-brown.jpeg");
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: darkblue;
    font-weight: bold;
    letter-spacing: 0.7em;
}

nav {
    height: 60px;
    background-color: #a37953;
    width: 100%;
    position: fixed;
}

nav a {
    float: right;
    padding: 20px;
}

#earlyLife-Body{

}

#discBody{
    background-image: url("./images/bg-white.jpeg");
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}