#box{
    width: 100%;
    height: 100%;
    background: rgb(243, 44, 44);
    position: absolute;
}

#head{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    background: black;
    position: absolute;
    right: 45%;
    top: 25%;
    /* overflow: hidden; */
}

#face{
    width: 150px;
    height: 140px;
    border-radius: 50%;
    background: pink;
    position: absolute;
    top: 15%;
    left: 1.5%;
    z-index: 6;
}

#cheek{
    width: 150px;
    height: 75px;
    border-radius: 50%;
    background: pink;
    border: 2px solid black;
    position: absolute;
    z-index: 5;
    right: 49%;
    top: 44%;
    transform: rotate(15deg);
}

#ear{
    width: 34px;
    height: 25px;
    border-radius: 50%;
    background: pink;
    position: absolute;
    right: 47%;
    top: 51%;
    border: solid black 2px;
    z-index: 6;
    transform: rotate(-5deg);
    border-left-color: transparent;
}

#ear-hole-outer{
    width: 40%;
    height: 30%;
    border-radius: 50%;
    border: black solid 2px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: rotate(-10deg);
}

#ear-hole{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: black solid 2px;
    position: absolute;
    top: -5%;
    left: -10%;
    transform: rotate(-10deg);
}

#forehead-hair{
    width: 50px;
    height: 60px;
    position: absolute;
    transform: rotate(90deg) skew(35deg);
    background: black;
    right: 45%;
    z-index: 7;
}

#left-hair{
    width: 65px;
    height: 95px;
    position: absolute;
    transform: rotate(88deg) skew(40deg);
    background: black;
    left: 43.3%;
    top: 20%;
    /* z-index: 7; */
}

#right-hair{
    width: 65px;
    height: 65px;
    position: absolute;
    transform: rotate(10deg) skew(-55deg);
    background: black;
    left: 50%;
    top: 44%;
}

#left-eyebrow{
    position: absolute;
    left: 9%;
    height: 70px;
    top: 15%;
    width: 25px;
    transform: rotate(12deg);
    border: solid transparent 2px;
    border-radius: 50%;
    border-top-color: black;
}

#right-eyebrow{
    position: absolute;
    left: 52%;
    height: 85px;
    top: 18%;
    width: 30px;
    transform: rotate(14deg);
    border: solid transparent 2px;
    border-radius: 50%;
    border-top-color: black;
}

.eye{
    width: 85%;
    height: 70%;
    bottom: 0;
    border: black solid 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    overflow: hidden;
}

.black-eye{
    width: 75%;
    height: 75%;
    background: black;
    position: absolute;
    border-radius: 40%;
    bottom: -3%;
    right: -5%;
    transform: rotate(5deg);
}

.dot-eye{
    width: 23%;
    height: 25%;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 50%;
    right: 15%;
}

#nose{
    position: absolute;
    border: solid black 2px;
    border-right-color: transparent;
    transform: rotate(20deg);
    z-index: 11;
    border-radius: 50%;
    width: 15px;
    height: 10px;
    left: 13%;
    top: 68%;
}

#mouth{
    width: 15px;
    height: 39px;
    border-radius: 50%;
    background: rgb(243, 85, 138);
    border: black solid 2px;
    position: absolute;
    left: 44%;
    top: 48%;
    z-index: 7;
    transform: rotate(17deg);
    overflow: hidden;
}

#upper-lip{
    position: absolute;
    left: 43%;
    top: 46%;
    width: 37px;
    height: 33px;
    border-radius: 40%;
    border: solid transparent 2px;
    border-bottom-color: black;
    transform: rotate(15deg);
    z-index: 9;
    background: pink;
}

#tongue{
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background: rgb(238, 136, 170);
    border: black solid 2px;
    position: absolute;
    bottom: -5%;
    z-index: 8;
    transform: rotate(-17deg);
}